* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}


.main-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.reviews-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 10rem auto;
}
.review-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid darkgray;
}
.review-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.review-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.reivew-person {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: end;
}

/*1000px*/
@media (max-width: 62.5rem) {
  html {
    font-size: 50%;
    /* 16px * 50% = 8px */ /* 1rem = 8px*/
  }
}
@media (max-width: 31.25rem) {
  html {
    font-size: 37.5%;
    /*16px * 37.5% = 6px*/ /* 1rem = 6px*/
  }
}

/* unmodified without relative units */

/* .main-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.reviews-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 100px auto;
}
.review-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid darkgray;
}
.review-heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.review-text {
  font-size: 20px;
  margin-bottom: 10px;
}
.reivew-person {
  font-size: 18px;
  font-weight: 700;
  text-align: end;
}


@media (max-width: 1000px) {
  .review-card {
    padding: 15px;
  }
  .review-heading {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .review-text {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .reivew-person {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .review-card {
    padding: 10px;
  }
  .review-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .review-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .reivew-person {
    font-size: 12px;
  }
} */
