.container {
  height: 80vh;
  border: 2px solid red;

  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;

  /* align-content: center; */ /* Align content used whn multiple lines are present*/
  /* align-content: flex-start; */
  /* align-content: flex-end; */

  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */

  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  gap: 5px 30px;
}
.item {
  height: 90px;
  width: 90px;
  border: 1px solid black;
  margin: 4px;
  background-color: violet;
}
.box1 {
  /* flex-grow: 2; */
  flex-basis: 10%;
}
