.container {
  height: 80vh;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  align-content: flex-start;
  flex-flow: row wrap;
  row-gap: 30px;
  column-gap: 10px;
  gap: 30px 10px;
}
.item {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  background-color: blueviolet;
  flex-grow: 1;
}
.box1{
  flex-basis: 30%;
}
