* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 1000vh;
}
header {
  background-color: green;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 3rem;
}
nav a {
  text-decoration: none;
  color: white;
  margin: auto;
}
nav a:hover {
  color: blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 300px;
  width: 100vw;
  margin: 0.5rem;
}
img {
  height: 200px;
  width: 30%;
}
.container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 2px solid black;
}
.box {
  height: 120px;
  width: 180px;
  border: 2px solid black;
}
#box3 {
  flex-grow: 1;
  flex-shrink: 1;
}
#box-m {
  margin: 4rem;
  height: 150px;
  width: 150px;
  border: 2px solid black;
}
@media screen and (max-width: 300px) {
  #box-m {
    background-color: green;
  }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  #box-m {
    background-color: red;
  }
}
@media screen and (min-width: 400px) {
  #box-m {
    background-color: blue;
  }
}
