/* Method-2 */
/* 
.container {
  border: 4px solid black;
  display: grid;
  grid-template-areas: "nav nav nav" "side article article" "footer footer footer";
}

.item {
  border: 2px solid red;
  height: 55px;
}
.item-1 {
  grid-area: nav;
  background-color: bisque;
}
.item-2 {
  grid-area: side;
  background-color: blue;
}
.item-3 {
  grid-area: article;
  background-color: brown;
}
.item-4 {
  grid-area: footer;
  background-color: chartreuse;
} */



/* Method-1 */

.container {
  border: 2px solid black;
  display: grid;
  /* grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px 100px; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
}
.item {
  border: 1px solid red;
  height: 55px;
}
/* .item-5 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.item-4 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.item-3 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.item-2 {
  grid-row: 2/3;
  grid-column: 2/3;
} */
