* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  cursor: pointer;
}
/* Header */
header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #2d2e33;
  height: 80px;
}
.myntra_home {
  width: 60px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 28px 0px;
  font-weight: 700;
  text-transform: uppercase;
  color: #282c3f;
  border-bottom: 4px solid #ffff;
}
.nav_bar a sup {
  font-size: 8px;
  font-weight: bolder;
  color: #ff3f6c;
}
.nav_bar a:hover {
  border-bottom: 4px solid #ff3f6c;
}
.search_bar {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 30%;
  height: 40px;
}
.search_input {
  background-color: aliceblue;
  color: #696e79;
  border: 0;
  height: 40px;
  border-radius: 0px 4px 4px 0px;

  flex-grow: 1;
}
.search_icon {
  background-color: aliceblue;
  color: #282c3f;
  border-radius: 4px 0px 0px 4px;
  box-sizing: content-box;
  font-weight: 300;
  height: 20px;
  padding: 10px;
}
.action_bar {
  min-width: 200px;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
}
.action_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action_icon {
  color: #746e6e;
  font-size: 24px;
}
.action_name {
  font-size: 11px;
  font-weight: bolder;
}

/* Main */
.banner_img {
  width: 100%;
}
.banner_container {
  margin: 40px 0px;
}
.category_headings {
  text-transform: uppercase;
  color: #282c3f;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  margin: 5px 0px 10px 0px;
  max-height: 5rem;
}
.category_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sale_item {
  width: 200px;
  height: 200px;
}
.main {
  margin: 2rem 0rem;
}

/* Footer */
.footer_container {
  padding: 40px 0px 30px 0px;
  background-color: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}
.footer_column {
  display: flex;
  flex-direction: column;
}
.footer_column a {
  color: #696b79;
  font-size: 14px;
  padding-bottom: 5px;
  text-decoration: none;
  line-height: normal;
}
.footer_column h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #282c3f;
  font-weight: 700;
  font-size: 12px;
}
.copyrights {
  display: flex;
  justify-content:center ;
  align-items: center;
  color: #94969f;
  font-weight: bolder;
  font-size: 0.75rem;
  padding: 1rem;
}
