* {
  margin: 0;
  padding: 0;
  /* font-size: 50px; */
}
body {
  height: 1000vh;
  /* width: 1000vw; */
}
h1 {
  text-align: center;
  color: blue;
  text-decoration: underline;
}
.box {
  text-align: center;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  margin: 2px;
  background-color: yellowgreen;
  display: inline-block;
}
#box1 {
  /* visibility: hidden; */
  display: none;
}
#first {
  height: 100px;
  width: 100px;
  background-color: aqua;
  font-size: 1rem;
}
#second {
  background-color: violet;
  width: 50%;
  height: 25%;
  font-size: 0.5rem;
}
.box2 {
  background-color: rgb(189, 189, 10);
  margin: 5px;
  width: 100px;
  height: 100px;
}
#box11 {
  position: static;
}
#box12 {
  position: relative;
  top: 50px;
  left: 150px;
}
#box13 {
  position: absolute;
  top: 50vh;
  right: 50vw;
}
#box14 {
  position: fixed;
  left: 50vw;
}
.box3 {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  text-align: center;
  font-size: 25px;
}
#zindex1 {
  background-color: red;
  left: 20px;
  top: 60px;
  z-index: 1;
}
#zindex2 {
  background-color: blue;
  left: 60px;
  top: 20px;
  z-index: 2;
}
