* {
  margin: 0;
  padding: 0;
  /* font-size: 50px; */
}
body {
  height: 1000vh;
  /* width: 1000vw; */
}
h1 {
  text-align: center;
  color: blue;
}
.box {
  text-align: center;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  margin: 2px;
  background-color: yellowgreen;
  display: inline-block;
}
#box1 {
  /* visibility: hidden; */
  display: none;
}
#first {
  height: 100px;
  width: 100px;
  background-color: aqua;
  font-size: 1rem;
}
#second {
  background-color: violet;
  width: 50%;
  height: 25%;
  font-size: 0.5rem;
}
.box2 {
  background-color: rgb(189, 189, 10);
  margin: 5px;
  width: 100px;
  height: 100px;
}
#box11 {
  position: static;
}
#box12 {
  position: relative;
  top: 20px;
  left: 50px;
}
#box13 {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 50px;
}
#box14 {
  position: fixed;
  left: 25px;
}
